<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {% include "link.html" %}

</head>
<body>
    {% include 'header.html' %}


    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="static/contactus.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s"><br><br><br>
                    <h1 class="section-title bg-white text-start text-primary pe-3">Contact Us</h1>
                    <h3><p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Raipur,Chhattisgath,India</p></h3>
                    <h3><p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+91 7470384888</p></h3>
                    <h3><p class="mb-2"><i class="fa fa-envelope me-3"></i>shubh2001@gmail.com</p></h3>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-dark btn-social" href="https://x.com/1Shubhamverma?t=aCs19KIiFtSbZZTn-UevZA&s=09"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-dark btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-dark btn-social" href="https://www.instagram.com/shubham_verma_12?igsh=MXAxaXpxeXVsNmFzbQ=="><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-dark btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
                </div>
            </div>
        </div><br><br>
    </div>{% include 'cpanel/adminfooter.html' %}
</body>
</html>