 <!-- footer start-->
 <div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
            
    <div class="container">
        <div class="copyright" >
            <div class="row" >
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="/" >Study Portal</a>, All Right Reserved.

                    Designed By Shubham verma</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer end-->

