<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>

    {% include 'link.html' %}
</head>
<body>

    {% include 'Header.html' %}


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="static/assetshome/img/about.jpg" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">About Us</h6>
                    <h1 class="mb-4">Welcome to Study Portal</h1>
                    <p class="mb-4">Welcome to StudyPortal, your one-stop destination for academic resources! At StudyPortal, we believe in the power of education and the importance of accessible learning materials for every student.</p>
                    <p class="mb-4">Our platform is designed to provide students with easy access to a wide range of e-books, notes, and study materials, helping them to excel in their academic journey.</p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Extensive Library of E-books</b></p>
                            <p class="mb-4">Our platform hosts a vast collection of e-books across various subjects and educational levels. Whether you're studying for your high school exams or pursuing higher education, you'll find the resources you need right here.</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Detailed Study Notes</b></p>
                            <p class="mb-4">We offer meticulously crafted notes that cover key concepts and topics. These notes are designed to simplify complex subjects and provide clear, concise explanations to enhance your understanding.</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>User-Friendly Interface</b></p>
                            <p class="mb-4"> Our intuitive interface ensures that you can easily navigate through our collection and find the materials you need. With a simple search function and organized categories, locating your required resources is quick and hassle-free.

                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Community Contributions</b></p>
                            <p class="mb-4"> At StudyPortal, we encourage collaboration and sharing. Students and educators can contribute their own notes and resources to the platform, creating a rich, diverse pool of knowledge.</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Regular Updates</b></p>
                            <p class="mb-4">We continuously update our library with the latest materials to keep up with curriculum changes and new publications. Our goal is to ensure that you always have access to current and relevant study resources.</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i><b>Our Vision</b></p>
                            <p class="mb-4">We envision a world where every student has the tools they need to achieve their academic goals. By providing free and easy access to educational resources, we aim to remove barriers to learning and support students in their pursuit of knowledge and excellence.</p>
                        </div>
                        <p class="mb-4">Thank you for choosing StudyPortal as your trusted source for academic resources. Together, let's make learning accessible and enjoyable for everyone!

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    {% include 'cpanel/adminfooter.html' %}
    
</body>
</html>