 <!-- Navbar Start -->
 <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>Study Portal</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/" class="nav-item nav-link active">Home</a>
            
        </div>
            <a href="/contact" class="nav-item nav-link">Contact</a>
            <a href="/about" class="nav-item nav-link">About us</a>
        </div>
        <a href="/student_login" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Sign in</a><a href="/student_reg" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Sign up</a>
    </div>
</nav>
<!-- Navbar End -->